### 1. Lists

In [1]:
# Create a list
numbers = [10, 20, 30]

# Add an item
numbers.append(40)

# Access items
print(numbers[0])      # 10
print(numbers[-1])     # 40

# Slice
print(numbers[1:3])    # [20, 30]

10
40
[20, 30]

In [6]:
mixed_list = ["A",1,"B",2]
mixed_list

for i in mixed_list:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>

In [33]:
# Iterating a list
names = ["Bob", "John", "Jim"]

for name in names:
    print(name)

Bob
John
Jim

In [35]:
fruits = ["Banana", "Apple", "Orange"]
fruits.append("Grapes")
fruits.insert(1, "Lemon")
fruits.insert(0, "Dragonfruit")
fruits

['Dragonfruit', 'Banana', 'Lemon', 'Apple', 'Orange', 'Grapes']

In [36]:
fruits.remove("Banana")
fruits

['Dragonfruit', 'Lemon', 'Apple', 'Orange', 'Grapes']

In [37]:
fruits.pop(0)

'Dragonfruit'

In [38]:
fruits.insert(0, "Dragonfruit")

List comprehension

In [39]:
fruits

['Dragonfruit', 'Lemon', 'Apple', 'Orange', 'Grapes']

In [50]:
fruits[0].upper()

'DRAGONFRUIT'

In [51]:
for fruit in fruits:
    print(fruit.upper())

fruits

DRAGONFRUIT
LEMON
APPLE
ORANGE
GRAPES

['Dragonfruit', 'Lemon', 'Apple', 'Orange', 'Grapes']

In [54]:
fruits_upper = [fruit.upper() for fruit in fruits]
fruits_upper

['DRAGONFRUIT', 'LEMON', 'APPLE', 'ORANGE', 'GRAPES']

### 2. Dictionary (Hash table)

In [61]:
# Create a dictionary (record-like)
employee = {
    "name": "Asha",
    "age": 29,
    "department": "Finance"
}

print(employee["name"])

Asha

In [62]:
# Add a new field
employee["salary"] = 45000
print(employee)

{'name': 'Asha', 'age': 29, 'department': 'Finance', 'salary': 45000}

Removing

In [63]:
employee.pop("department")
employee

{'name': 'Asha', 'age': 29, 'salary': 45000}

In [65]:
employee.values()

dict_values(['Asha', 29, 45000])

### 3. Tuples

In [66]:
# A fixed record: (ID, Name)
record = (101, 'Ana')

# Accessing values
print(record[0])  # 101

101

In [76]:
tuple1 = ("Alice", 25, "Engineer")
name, age, job = tuple1

print(f"{name} is {age} years old. He / She is an {job}")

Alice is 25 years old. He / She is an Engineer

### 4. Sets

In [80]:
# Create a set
unique_departments = {"Finance", "HR", "IT"}

# Add new item
unique_departments.add("Marketing")
unique_departments

{'Finance', 'HR', 'IT', 'Marketing'}

In [81]:
# Remove duplicates from a list
departments = ["Finance", "Finance", "HR"]
unique_departments = set(departments)
print(unique_departments)

{'HR', 'Finance'}

### 5. Stacks

In [85]:
stack = []

# Push
stack.append('A')
stack.append('B')
stack.append('C')
print("Stack: ", stack)

Stack:  ['A', 'B', 'C']

In [86]:
# Pop
element = stack.pop()
print("Pop: ", element)
stack

Pop:  C

['A', 'B']

In [90]:
# Peek
topElement = stack[-1]
print("Peek: ", topElement)

Peek:  B

In [92]:
stack =[]
bool(stack)

False

In [94]:
# isEmpty
isEmpty = not bool(stack)
print("isEmpty: ", isEmpty)

isEmpty:  True

In [96]:
stack =[1,2,3]

# isEmpty
isEmpty = not bool(stack)
print("isEmpty: ", isEmpty)

isEmpty:  False

In [97]:
# Size
print("Size: ",len(stack))

Size:  3

### 6. Queue (FIFO)

In [98]:
queue = []

# Enqueue
queue.append('A')
queue.append('B')
queue.append('C')
print("Queue: ", queue)

Queue:  ['A', 'B', 'C']

In [100]:
# Dequeue
element = queue.pop(0)
print("Dequeue: ", element)

Dequeue:  B

In [101]:
# Peek
frontElement = queue[0]
print("Peek: ", frontElement)

Peek:  C

In [102]:
# isEmpty
isEmpty = not bool(queue)
print("isEmpty: ", isEmpty)

isEmpty:  False

In [103]:
# Size
print("Size: ", len(queue))

Size:  1

In [104]:
from collections import deque

queue = deque()
queue.append("Order1")
queue.append("Order2")

queue

deque(['Order1', 'Order2'])

In [105]:
print(queue.popleft())  # Order1
print(queue.popleft())  # Order2

Order1
Order2

### 7. DataFrames

In [ ]:
import pandas as pd

# Create a DataFrame
data = {
    "Name": ["Asha", "Ravi", "Meena"],
    "Age": [29, 35, None],
    "Department": ["Finance", "IT", "Finance"]
}
df = pd.DataFrame(data)
df

    Name   Age Department
0   Asha  29.0    Finance
1   Ravi  35.0         IT
2  Meena   NaN    Finance

In [114]:
df.to_csv("File1.csv", index=False)

In [115]:
# Remove duplicates
df.drop_duplicates(inplace=True)

In [117]:
# Fill missing values
df.fillna({'Age': df['Age'].mean()}, inplace=True)
print(df)

    Name   Age Department
0   Asha  29.0    Finance
1   Ravi  35.0         IT
2  Meena  32.0    Finance

### 8. JSON

In [119]:
import json

# JSON string from an API
json_string = '{"id": 1, "name": "Ana"}'

# Convert JSON to Python dict
data = json.loads(json_string)
data

print(data['name'])  # Ana

Ana

### 9. Databases (SQLITE)

In [ ]:
import sqlite3

# Set up a connection
conn = sqlite3.connect('example1.db')
conn

cursor = conn.cursor()

cursor.execute('CREATE TABLE IF NOT EXISTS customers (id INT, name TEXT)')

cursor.execute('INSERT INTO customers VALUES (?, ?)', (1, 'John'))

for i in cursor.execute('SELECT * FROM customers'):
    print(i)

conn.close()

(1, 'John')