### 1. Lists

In [3]:
# Create a list
numbers = [10, 20, 30]

# Add an item
numbers.append(40)

# Access items
print(numbers[0])      # 10
print(numbers[-1])     # 40

# Slice
print(numbers[1:3])    # [20, 30]

10
40
[20, 30]

In [5]:
# Iterating a list
names = ["Bob", "John", "Jim"]

for name in names:
    print(name)

Bob
John
Jim

### 2. Dictionary (Hash table)

In [7]:
# Create a dictionary (record-like)
employee = {
    "name": "Asha",
    "age": 29,
    "department": "Finance"
}

print(employee["name"])    

# Add a new field
employee["salary"] = 45000
print(employee)

Asha
{'name': 'Asha', 'age': 29, 'department': 'Finance', 'salary': 45000}

### 3. Tuples

In [21]:
# A fixed record: (ID, Name)
record = (101, 'Ana')

# Accessing values
print(record[0])  # 101

101

### 4. Sets

In [9]:
# Create a set
unique_departments = {"Finance", "HR", "IT"}

# Add new item
unique_departments.add("Marketing")

# Remove duplicates from a list
departments = ["Finance", "Finance", "HR"]
unique_departments = set(departments)
print(unique_departments)

{'HR', 'Finance'}

### 5. Stacks

In [1]:
stack = []

# Push
stack.append('A')
stack.append('B')
stack.append('C')
print("Stack: ", stack)

# Pop
element = stack.pop()
print("Pop: ", element)

# Peek
topElement = stack[-1]
print("Peek: ", topElement)

# isEmpty
isEmpty = not bool(stack)
print("isEmpty: ", isEmpty)

# Size
print("Size: ",len(stack))

Stack:  ['A', 'B', 'C']
Pop:  C
Peek:  B
isEmpty:  False
Size:  2

### 6. Queue (FIFO)

In [2]:
queue = []

# Enqueue
queue.append('A')
queue.append('B')
queue.append('C')
print("Queue: ", queue)

# Dequeue
element = queue.pop(0)
print("Dequeue: ", element)

# Peek
frontElement = queue[0]
print("Peek: ", frontElement)

# isEmpty
isEmpty = not bool(queue)
print("isEmpty: ", isEmpty)

# Size
print("Size: ", len(queue))

Queue:  ['A', 'B', 'C']
Dequeue:  A
Peek:  B
isEmpty:  False
Size:  2

In [12]:
from collections import deque

queue = deque()
queue.append("Order1")
queue.append("Order2")

print(queue.popleft())  # Order1
print(queue.popleft())  # Order2

Order1
Order2

### 7. DataFrames

In [18]:
import pandas as pd

# Create a DataFrame
data = {
    "Name": ["Asha", "Ravi", "Meena"],
    "Age": [29, 35, None],
    "Department": ["Finance", "IT", "Finance"]
}
df = pd.DataFrame(data)
print(df)

    Name   Age Department
0   Asha  29.0    Finance
1   Ravi  35.0         IT
2  Meena   NaN    Finance

In [20]:
# Remove duplicates
df.drop_duplicates(inplace=True)

# Fill missing values
df.fillna({'Age': df['Age'].mean()}, inplace=True)
print(df)

    Name   Age Department
0   Asha  29.0    Finance
1   Ravi  35.0         IT
2  Meena  32.0    Finance

### 8. JSON

In [22]:
import json

# JSON string from an API
json_string = '{"id": 1, "name": "Ana"}'

# Convert JSON to Python dict
data = json.loads(json_string)
print(data['name'])  # Ana

Ana

### 9. Databases (SQLITE)

In [27]:
import sqlite3

conn = sqlite3.connect('example.db')
cursor = conn.cursor()

cursor.execute('CREATE TABLE IF NOT EXISTS customers (id INT, name TEXT)')
cursor.execute('INSERT INTO customers VALUES (?, ?)', (1, 'Ana'))
conn.commit()

for row in cursor.execute('SELECT * FROM customers'):
    print(row)

conn.close()

(1, 'Ana')