In [12]:
import pandas as pd

In [13]:
pizza_orders = pd.read_csv("Pizza_orders.csv", index_col=0)
pizza_orders

    Order_ID  Customer  Order_Date  Pizza_Type Size   Branch  Quantity
0       1001     Amaya  2024/05/08      Veggie    L  Colombo         4
1       1002  Sajantha  29-01-2024  Margherita    M    Galle         2
2       1003    Dinura  2024.10.08   Pepperoni    L    Kandy         2
3       1004    Dinura  2024.10.24   Pepperoni    L    Kandy         3
4       1005    Dinura  2024-10-12   Pepperoni    L    Kandy         2
..       ...       ...         ...         ...  ...      ...       ...
95      1096  Sajantha  11-01-2024  Margherita    M    Galle         2
96      1097    Dinura  2024/10/20   Pepperoni    L    Kandy         5
97      1098     Kasun  2024/02/16   Pepperoni    M  Colombo         5
98      1099    Dinura  05-10-2024   Pepperoni    L    Kandy         3
99      1100   Dilshan  2024-07-04      Veggie    S    Kandy         4

[100 rows x 7 columns]

In [14]:
pizza_prices = pd.read_csv("pizza_prices.csv", index_col=0)
pizza_prices

   Pizza_Type Size  Price
0   Pepperoni    S   1000
1   Pepperoni    M   1500
2   Pepperoni    L   2000
3      Veggie    S    900
4      Veggie    M   1400
5      Veggie    L   1900
6  Margherita    S    800
7  Margherita    M   1300
8  Margherita    L   1800

In [15]:
# Merge tables to get Price 
pizza_sales = pizza_orders.merge(pizza_prices, on=['Pizza_Type', 'Size'], how='left')

# Compute actual Sales
pizza_sales['Sales'] = pizza_sales['Quantity'] * pizza_sales['Price']

pizza_sales

,Order_ID,Customer,Order_Date,Pizza_Type,Size,Branch,Quantity,Price,Sales
0,1001,Amaya,2024/05/08,Veggie,L,Colombo,4,1900,7600
1,1002,Sajantha,29-01-2024,Margherita,M,Galle,2,1300,2600
2,1003,Dinura,2024.10.08,Pepperoni,L,Kandy,2,2000,4000
3,1004,Dinura,2024.10.24,Pepperoni,L,Kandy,3,2000,6000
4,1005,Dinura,2024-10-12,Pepperoni,L,Kandy,2,2000,4000
...,...,...,...,...,...,...,...,...,...
95,1096,Sajantha,11-01-2024,Margherita,M,Galle,2,1300,2600
96,1097,Dinura,2024/10/20,Pepperoni,L,Kandy,5,2000,10000
97,1098,Kasun,2024/02/16,Pepperoni,M,Colombo,5,1500,7500
98,1099,Dinura,05-10-2024,Pepperoni,L,Kandy,3,2000,6000
99,1100,Dilshan,2024-07-04,Veggie,S,Kandy,4,900,3600

In [16]:
pizza_sales.to_csv("Pizza_sales.csv")