In [1]:
import pandas as pd

data = {
    'Order_ID': [1001, 1002, 1003, 1004, 1005],
    'Customer': ['John', 'Amy', 'Amy', 'Sam', 'John'],
    'Order_Date': ['2024/01/02', '2024-01-05', '2024-01-07', '07-01-2024', '2024.01.10'],
    'Pizza_Type': ['Pepperoni', 'Veggie', 'Veggie', 'Margherita', 'Pepperoni'],
    'Size': ['M', 'L', 'S', 'M', 'L'],
    'Sales': ['120', '200', '85', '150', '250'],
    'Branch': ['Colombo', 'Colombo', 'Kandy', 'Galle', 'Kandy']
}

df = pd.DataFrame(data)
df

   Order_ID Customer  Order_Date  Pizza_Type Size Sales   Branch
0      1001     John  2024/01/02   Pepperoni    M   120  Colombo
1      1002      Amy  2024-01-05      Veggie    L   200  Colombo
2      1003      Amy  2024-01-07      Veggie    S    85    Kandy
3      1004      Sam  07-01-2024  Margherita    M   150    Galle
4      1005     John  2024.01.10   Pepperoni    L   250    Kandy

In [2]:
df.to_csv("Pizza_hut_sales.csv")